/*----Global Layout Setup----*/

*{
    box-sizing: border-box;
    font-family: 'Merriweather', 'Times New Roman'
}

/*---Base Styles---*/
h1 {
    color: rgb(45, 57, 69);
    font-weight: 100;
}

p {
    color: grey;
}

/*---Header Styles---*/
.heading {
    margin-top: 0;
    width: 100%;
    background: rgb(45, 57, 69);
    color: white;
    font-weight: 100;
    text-align: center;
}

.top {
    margin: auto;
}

/*---Form Styles---*/
fieldset {
    border: none;
    text-decoration: none;
}